
<p>{{title}} For Row Level Colors From Green To Red Via Yellow</p>

<table>

  <tr>
    <td [style.background-color]='getColorForPercentage(100)'>100</td>
    <td [style.background-color]='getColorForPercentage(90)'>90</td>
    <td [style.background-color]='getColorForPercentage(80)'>80</td>
    <td [style.background-color]='getColorForPercentage(70)'>70</td>
    <td [style.background-color]='getColorForPercentage(60)'>60</td>
    <td [style.background-color]='getColorForPercentage(50)'>50</td>
    <td [style.background-color]='getColorForPercentage(40)'>40</td>
    <td [style.background-color]='getColorForPercentage(30)'>30</td>
    <td [style.background-color]='getColorForPercentage(20)'>20</td>
    <td [style.background-color]='getColorForPercentage(10)'>10</td>
  </tr>
  <tr>
    <td [style.background-color]='getColorForPercentage(7)'>7</td>
    <td [style.background-color]='getColorForPercentage(17)'>17</td>
    <td [style.background-color]='getColorForPercentage(8)'>8</td>
    <td [style.background-color]='getColorForPercentage(10)'>10</td>
    <td [style.background-color]='getColorForPercentage(66)'>66</td>
    <td [style.background-color]='getColorForPercentage(99)'>99</td>
    <td [style.background-color]='getColorForPercentage(40)'>40</td>
    <td [style.background-color]='getColorForPercentage(3)'>3</td>
    <td [style.background-color]='getColorForPercentage(29)'>29</td>
    <td [style.background-color]='getColorForPercentage(10)'>10</td>
  </tr>
  <tr>
    <td [style.background-color]='getColorForPercentage(70)'>70</td>
    <td [style.background-color]='getColorForPercentage(17)'>17</td>
    <td [style.background-color]='getColorForPercentage(8)'>8</td>
    <td [style.background-color]='getColorForPercentage(10)'>10</td>
    <td [style.background-color]='getColorForPercentage(66)'>66</td>
    <td [style.background-color]='getColorForPercentage(99)'>99</td>
    <td [style.background-color]='getColorForPercentage(40)'>40</td>
    <td [style.background-color]='getColorForPercentage(3)'>3</td>
    <td [style.background-color]='getColorForPercentage(29)'>29</td>
    <td [style.background-color]='getColorForPercentage(10)'>10</td>
  </tr>
</table>